<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="SetupMergeModule" Language="1033" Version="1.0.0.0">
		<Package Id="e6d58c70-ddba-42e2-aa7b-d8d3294165dc" Manufacturer="Who Solutions Ltd" InstallerVersion="200" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">

				<!-- TODO: Remove the comments around this Component element in order to add resources to this module. -->
				<!-- <Component Id="ModuleComponent" Guid="159a35a3-50a3-4ee3-aa7e-b0fbec3d36f1"> -->
					<!-- TODO: Insert files, registry keys, and other resources here. -->
				<!-- </Component> -->

			</Directory>
		</Directory>
	</Module>
</Wix>
