<div class="jumbotron">
    <h1>Actemium News</h1>

    <p>Latest product news from Final Assembly Systems Ltd</p>
</div>
<div id="act-carousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#act-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#act-carousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" style="height:300px">
            <img class="col-sm-offset-2" src="images/products-Vi-Roam.gif" style="padding:10px" />

            <div class="container">

                <div class="carousel-caption">
                    <h1>Vi-Roam</h1>

                    <p>
                        An all-in-one ultra rugged hand held test solution capable of surviving the rigours of today's
                        production environment.
                    </p>
                </div>
            </div>
        </div>
        <div class="item" style="height:300px">
            <img class="col-sm-offset-2" src="images/products-Vi-Mini.gif" style="padding:10px" />

            <div class="container">

                <div class="carousel-caption">
                    <h1>Vi-Mini</h1>

                    <p>
                        A compact, low cost, multi protocol/channel vehicle interface dongle designed specifically for
                        the aftermarket. It plugs directly into a standard J1962 OBD socket communicating with a host
                        Laptop/Netbook device via USB connection.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>